<tiny-loading>
    <div class="loading-wrapper" if={ props.active }>
        <div class="loading">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</tiny-loading>